.submenu{
    position: relative;
}
.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    width: 50rem;
    /* height: 60rem; */
    background-color: rgb(226, 225, 225);
    position: absolute;
    right: 0;
    top: 100%;
    padding: 2rem;
    z-index: 1;
}
.table {
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    /* font-weight: 100; */
    width: 100%;
    /* border-bottom: .1rem solid black; */
}
th{
    font-weight: 100;
    padding: 1rem;
}
#lista-carrito tbody{
    margin-top: 10rem;
}
#vaciar-carrito{
    display: inline-block;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    border: .1rem solid rgb(146, 146, 146) ;
    padding: .5rem;
    border-radius: 1rem;
    background-color: rgb(206, 203, 203);
    transition: all .3s;
    margin-top: 3rem;
}
#vaciar-carrito:hover{
    background-color: rgb(219, 217, 217);
    transition: all .3s;
}
@media (max-width: 768px){
    .submenu:hover #carrito{
        display: none;
    }
}