* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

.contenedor {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  background-color: rgb(83, 81, 81);
}
.nav__contenedor {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.nav__contenedor__boton {
  font-size: 3rem;
  color: rgb(211, 211, 211);
  padding-top: 0.5rem;
  cursor: pointer;
  display: none;
}
.nav__contenedor #check {
  display: none;
}
.nav__contenedor__logo {
  width: 23rem;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  color: rgb(211, 211, 211);
  margin-bottom: 1rem;
  letter-spacing: 0.5rem;
}
.nav__contenedor ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__contenedor ul a {
  color: rgb(211, 211, 211);
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}
.nav__contenedor ul a:hover {
  color: rgb(162, 194, 201);
  transition: 0.2s ease 0s;
}

@media screen and (max-width: 1200px) {
  .nav__contenedor {
    text-align: center;
  }
  .nav__contenedor__logo {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .nav__contenedor {
    justify-content: space-around;
  }
  .nav__contenedor #check:checked ~ ul {
    left: 0;
  }
  .nav__contenedor__logo {
    text-align: center;
  }
  .nav__contenedor ul { /*aca mostramos la barra que se desliza cada ves que el boton esta en checked*/
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(83, 81, 81);
    top: 8rem;
    left: -100%;
    display: block;
    transition: all 0.5s;
  }
  .nav__contenedor ul li {
    padding-top: 5rem;
  }
  .nav__contenedor ul li a {
    padding: 2rem;
    font-size: 3rem;
  }
  .nav__contenedor__boton {
    display: block; /*block para que el boton se vea*/
  }
}
.header {
  background-image: url(../../img/portada.jpg);
  background-size: cover;
  padding-top: 22rem;
  padding-bottom: 10rem;
}
.header__contenedor {
  max-width: 54.6rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.3);
  padding-bottom: 2rem;
}
.header__contenedor h1 {
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 5.5rem;
  text-align: center;
  padding-top: 3rem;
  color: rgb(55, 55, 55);
  letter-spacing: 0.5rem;
}
.header__contenedor__div {
  width: 22rem;
  background-color: rgb(55, 55, 55);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.header__contenedor__div a {
  text-align: center;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: white;
  padding-top: 1rem;
  padding-left: 7.2rem;
  padding-right: 7.2rem;
  padding-bottom: 1rem;
}
.header__contenedor__div a:hover {
  background-color: white;
  color: black;
  transition: 0.3s ease 0s;
}

/*# sourceMappingURL=styles.css.map */
