* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

.contenedor {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

.centrar-contenido {
  margin-left: auto;
  margin-right: auto;
}

.texto-h4 {
  font-size: 1.3rem;
  color: white;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  letter-spacing: 0.2rem;
}

.inputs {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border: none;
}

.nav {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(83, 81, 81);
}
.nav__contenedor {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.nav__contenedor__boton {
  font-size: 3rem;
  color: rgb(211, 211, 211);
  padding-top: 0.5rem;
  cursor: pointer;
  display: none;
}
.nav__contenedor #check {
  display: none;
}
.nav__contenedor__logo {
  width: 23rem;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  color: rgb(211, 211, 211);
  margin-bottom: 1rem;
  letter-spacing: 0.5rem;
}
.nav__contenedor ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__contenedor ul a {
  color: rgb(211, 211, 211);
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}
.nav__contenedor ul a:hover {
  color: rgb(162, 194, 201);
  transition: 0.2s ease 0s;
}

@media screen and (max-width: 1200px) {
  .nav__contenedor {
    text-align: center;
  }
  .nav__contenedor__logo {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .nav__contenedor {
    justify-content: space-around;
  }
  .nav__contenedor #check:checked ~ ul {
    left: 0;
  }
  .nav__contenedor__logo {
    text-align: center;
  }
  .nav__contenedor ul { /*aca mostramos la barra que se desliza cada ves que el boton esta en checked*/
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(83, 81, 81);
    top: 8rem;
    left: -100%;
    display: block;
    transition: all 0.5s;
  }
  .nav__contenedor ul li {
    padding-top: 5rem;
  }
  .nav__contenedor ul li a {
    padding: 2rem;
    font-size: 3rem;
  }
  .nav__contenedor__boton {
    display: block; /*block para que el boton se vea*/
  }
}
.header {
  background-image: url(../../img/portada.jpg);
  background-size: cover;
  padding-top: 22rem;
  padding-bottom: 10rem;
  margin-top: 8rem;
}
.header__contenedor {
  max-width: 54.6rem;
  background-color: rgba(255, 255, 255, 0.3);
  padding-bottom: 2rem;
}
.header__contenedor h1 {
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 5.5rem;
  text-align: center;
  padding-top: 3rem;
  color: rgb(55, 55, 55);
  letter-spacing: 0.5rem;
}
.header__contenedor__div {
  width: 22rem;
  background-color: rgb(55, 55, 55);
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.header__contenedor__div a {
  text-align: center;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: white;
  padding-top: 1rem;
  padding-left: 7.2rem;
  padding-right: 7.3rem;
  padding-bottom: 1rem;
  transition: 0.3s ease 0s;
}
.header__contenedor__div a:hover {
  background-color: white;
  color: black;
  transition: 0.3s ease 0s;
}

.div {
  background-color: rgb(211, 211, 211);
}
.div h2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
  color: rgb(55, 55, 55);
}

.main__contenedor {
  padding-top: 7rem;
  padding-bottom: 5rem;
}
.main__contenedor h3 {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  letter-spacing: 1rem;
  color: rgb(55, 55, 55);
  margin-bottom: 5rem;
}
.main__contenedor hr {
  width: 4%;
  font-weight: 100;
  margin-bottom: 5rem;
}
.main__contenedor--contenido {
  font-size: 2rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: 1rem;
  margin-bottom: 7rem;
}
.main__contenedor__div {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.main__contenedor__div__section__select img {
  width: 30.12rem;
  height: 36.2rem;
}
.main__contenedor__div__section__select--p {
  width: 100%;
  background-color: rgb(55, 55, 55);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: -0.4rem;
}
.main__contenedor__div__section__select--p p {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: white;
}
.main__contenedor__div__section2 {
  background-image: url(../../img/cartera.jpg);
  background-size: cover;
  width: 29.8rem;
  height: 40.2rem;
}
.main__contenedor__div__section2--p p {
  font-family: "Times New Roman", Times, serif;
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 6rem;
  color: rgb(55, 55, 55);
}

@media screen and (max-width: 970px) {
  .main__contenedor__div {
    display: block;
  }
  .main__contenedor__div__section {
    margin-top: 6rem;
    text-align: center;
  }
  .main__contenedor__div__section__select--p {
    width: 30rem;
  }
  .main__contenedor__div__section2 {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer {
  background-color: rgb(51, 51, 51);
}
.footer div:first-child .wt {
  color: green;
  font-size: 10rem;
  right: 5rem;
  bottom: 3rem;
  position: fixed;
}
.footer__contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.footer__contenedor__conectado {
  width: 29.8rem;
}
.footer__contenedor__conectado--icono {
  text-align: center;
  margin-bottom: 17rem;
  margin-top: 3rem;
  margin-left: 1.5rem;
}
.footer__contenedor__conectado--icono a i {
  font-size: 1.8rem;
  color: white;
  letter-spacing: 2rem;
}
.footer__contenedor__escribenos {
  width: 29.8rem;
}
.footer__contenedor__escribenos__input {
  margin-top: 2rem;
}
.footer__contenedor__escribenos__input__1 {
  background-color: rgb(77, 76, 76);
  color: white;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.footer__contenedor__escribenos__input__1:hover {
  border: 0.2rem solid white;
}
.footer__contenedor__escribenos__input__2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  background-color: rgb(212, 209, 209);
  transition: all 0.3s;
}
.footer__contenedor__escribenos__input__2:hover {
  background-color: rgb(240, 238, 238);
  transition: all 0.3s;
}
.footer__contenedor__ayuda {
  width: 29.8rem;
}

@media screen and (max-width: 934px) {
  .footer__contenedor {
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__contenedor__conectado--icono {
    margin-bottom: 2.5rem;
  }
  .footer__contenedor__ayuda p {
    margin-bottom: 2rem;
  }
}
/* seccion tienda */
.main2 {
  margin-top: 10rem;
}
.main2__contenedor {
  margin-top: 2rem;
  padding-top: 2rem;
}
.main2__contenedor h3 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1rem;
}
.main2__contenedor__tienda {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr)); /* auto-fill para que se autocomplete */
  gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.main2__contenedor__tienda__section {
  background-color: rgb(83, 81, 81);
  padding: 1rem;
}
.main2__contenedor__tienda__section img {
  width: 100%;
}
.main2__contenedor__tienda__section p {
  font-size: 2rem;
  color: rgb(225, 222, 222);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  margin-top: 1rem;
}
.main2__contenedor__tienda__section p span {
  text-decoration: line-through;
  margin-right: 2rem;
}

@media screen and (max-width: 1200px) {
  .main2__contenedor__tienda {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 360px) {
  .main2__contenedor__tienda {
    grid-template-columns: repeat(1, 1fr);
  }
}
.main3 {
  padding-top: 15rem;
  padding-bottom: 5rem;
}
.main3__contenedor__producto {
  display: flex;
  gap: 5rem;
  justify-content: center;
}
.main3__contenedor__producto img {
  max-width: 50rem;
  height: 50vh;
}
.main3__contenedor__producto__informacion h3 {
  font-size: 5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}
.main3__contenedor__producto__informacion span {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-bottom: 2rem;
  display: inline-block;
}
.main3__contenedor__producto__informacion--precio {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}
.main3__contenedor__producto__informacion__formulario {
  display: grid;
  /* grid-template-columns: repeat(2,1fr); */
  grid-template-columns: 20rem 20rem;
  /* justify-content: center; */
  gap: 2rem;
}
.main3__contenedor__producto__informacion__formulario__select {
  font-size: 2rem;
  background-color: transparent;
  border: 0.1rem solid;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  appearance: none;
}
.main3__contenedor__producto__informacion__formulario input[type=number] {
  font-size: 2rem;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  background-color: transparent;
  border: 0.1rem solid;
  appearance: none;
}
.main3__contenedor__producto__informacion__formulario input[type=submit] {
  grid-column: 1/3;
  background-color: black;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 100;
  border: none;
  padding: 1rem;
  transition: all 0.3s;
  margin-bottom: 5rem;
  cursor: pointer;
}
.main3__contenedor__producto__informacion__formulario input[type=submit]:hover {
  background-color: rgb(119, 117, 117);
  transition: all 0.3s;
}
.main3__contenedor__producto__informacion h2 {
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  padding-bottom: 2rem;
}
.main3__contenedor__producto__informacion hr {
  margin-bottom: 5rem;
}
.main3__contenedor__producto__informacion__p {
  width: 65.5%;
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  padding-bottom: 5rem;
  text-align: justify;
}

@media screen and (max-width: 1070px) {
  .main3__contenedor__producto {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main3__contenedor__producto__informacion h3 {
    text-align: center;
  }
  .main3__contenedor__producto__informacion span {
    text-align: center;
    display: inline-block;
    width: 100%;
  }
  .main3__contenedor__producto__informacion--precio {
    text-align: center;
  }
  .main3__contenedor__producto__informacion__formulario {
    grid-template-columns: 20rem 20rem;
    justify-content: center;
  }
  .main3__contenedor__producto__informacion h2 {
    text-align: center;
  }
  .main3__contenedor__producto__informacion__p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* @media screen and (max-width:468px) {
    .main3{
        &__contenedor{
            &__producto{
                flex-direction: column;
                align-items: center;
                img{
                    width: 30rem;
                    height: 30vh;
                }
                &__informacion{
                    text-align: center;
                    &__formulario{
                        grid-template-columns: repeat(auto-fill,minmax(10rem,1fr));
                        margin-left: 15rem;
                    }
                }

            }
        }
    }
} */
@media screen and (max-width: 460px) {
  .main3__contenedor__producto__informacion__formulario {
    grid-template-columns: 15rem 15rem;
    justify-content: center;
  }
  .main3__contenedor__producto__informacion__formulario__select {
    font-size: 1.8rem;
  }
  .main3__contenedor__producto__informacion__p {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
