@media screen and (max-width:1200px) {
    .main2{
        &__contenedor{
            &__tienda{
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
    }
}
@media screen and (max-width:360px) {
    .main2{
        &__contenedor{
            &__tienda{
                grid-template-columns: repeat(1,1fr);
            }
        }
    }
}