@media screen and (max-width:970px) {
    .main{
        &__contenedor{
            &__div{
                display: block;
                &__section{
                    margin-top: 6rem;
                    text-align: center;
                    &__select{
                        &--p{
                            width: 30rem;
                        }
                    }
                }
                &__section2{
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}